

.productItem{
    color: black;
    position: relative;
    cursor: pointer;
}


.productContent{
    overflow: hidden;
    font-size: 14px;
}


.productContent .name{
    padding: 0 0 5px 0;
    text-align: left;
}
.productContent .name p{
    color: #1a1a1a;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: "Ubuntu Mono", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
    font-weight: 600;
    line-height: 20px;
}

.imgIllusion{
    width: 55px;
    height: 15px;
    display: inline-block;
    float: right;
}



.priceContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    /* color: #10c44c;*/
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.4px;
    font-family: "PT Sans", "Arial", sans-serif;
    white-space: nowrap;

}


.originalPrice{
    color: #006933;
    text-decoration: line-through;
}
.price{
    color: red;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
}

.percent60_80{
    color: #ff0000;
}
.percent40_60{
    color: #4e22ff;
}
.percent0_40{
    color: #171717;
}

.notDiscountPercentage{
    font-weight: normal;
}




