

.favoriteContainer{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.favoriteContainer svg{
    width: 24px;
    height: 24px;
    stroke: gray; /* Начальный цвет обводки */
    stroke-width: 1.5; /* Толщина обводки */
    fill: none; /* Без заливки */
}

.favoriteContainer svg.active {
    fill: #ff4f30;
    stroke: #ff4f30; /* Начальный цвет обводки */
}

