.gridContainer {
    display: grid;
    gap: 16px;
}

/*  **PC (6 товаров в ряд, Featured 2x2 слева или справа)** */
@media (min-width: 1025px) {
    .gridContainer {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "featured product product product product product"
            "featured product product product product product";
    }
}

/*   **Планшет (4 товара в ряд, Featured 2x2 сверху)** */
@media (max-width: 1024px) {
    .gridContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "featured featured featured featured"
            "product product product product"
            "product product product product";
    }
}

/*   **Мобильные (Featured 2x2 сверху, 2x4 товары внизу)** */
@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "featured featured"
            "product product"
            "product product"
            "product product";
    }
}

.product {
    width: 100%;
}

.featuredBlock {
    grid-area: featured;
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
    border-radius: 10px;
}

.featuredProducts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.featuredBlock .title{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.featuredBlock .title .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.featuredBlock .title .right{

    display: flex;
    justify-content: flex-end;
}

.featuredBlock .title .right .all{
    width: 70px;
    height: 40px;
    border: 1px solid #404040;
    border-radius: 10px;
    font-weight:  500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}


.featuredBlock .title .leftTop{
    font-size: 16px;
    font-weight: 400;
}

.featuredBlock .title .leftBottom{
    max-height: 93px;
    word-wrap: break-word;
    font-size: 28px;
    font-weight: 500;
    line-height: 31px;
}

.featuredBlock .productContent{
    border-radius: 10px;
}
.featuredBlock .productItem{
    border-radius: 10px;
}


.loading, .error {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: red;
}
