:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 /* color-scheme: light dark;*/
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  padding-right: 8px; /* ✅ Делаем отступ равным ширине скроллбара */
  overflow-x: hidden; /* ✅ Предотвращаем горизонтальный скролл */
}
a {
  text-decoration: inherit;
}




/* ✅ Кастомный скроллбар */
::-webkit-scrollbar {
  width: 8px; /* Уменьшаем ширину */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона скроллбара */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Цвет самого скроллбара */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет при наведении */
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
