.nameContainer {
    padding: 0 0 5px 0;
    text-align: left;
    /* Позволяем элементу сжиматься */
    min-width: 0;
    overflow: hidden;
}

.truncatedWrapper {
    width: 100%;
    min-width: 0;
}

.truncated {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;   /* Позволяет переносить длинные слова */
    max-width: 100%;
    min-width: 0;
    white-space: normal;       /* Обеспечивает перенос строк */
}